:host {
    display: flex;
    background: #1b38bd;
    background: -webkit-radial-gradient(circle, #b5da82, #dfc08c);
    background: radial-gradient(circle, #b5da82, #dfc08c);
}

.example-card {
    background: #1b38bd;
    background: -webkit-radial-gradient(circle, #b5da82, #dfc08c);
    background: radial-gradient(circle, #b5da82, #dfc08c);
    width: 100vw;
}

.logo-span {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    img {
        justify-content: center;
        width: 200px;
    }
}

.msg {
    width: 100%;
    text-align: center;
    h1 {
        font-style: normal;
        font-family: fantasy;
        font-size: xxx-large;
        font-weight: bold;
    }
}

.erro {
    width: 100%;
    text-align: center;
}

.container-button {
    display: flex;
    justify-content: center;
    button {
        color: #000;
        background-color: #b5da82;
    }
}

.section-container {
    width: 100vw;
    height: 100vh;
    display: Flex;
    justify-content: center;
    align-items: center;
}