<section class="section-container">
    <mat-card class="example-card">
        <span class="logo-span">
            <img src="../../../assets/img/groot-1068x562.png">             
          </span>

        <div class="msg">
            <h1>EU SOU O GROOOOT...<br>
            </h1>
        </div>

        <div class="erro">
            <h3>404 - Not Found</h3>
        </div>

        <div class="container-button">
            <button mat-raised-button (click)="login()">Home</button>
        </div>

    </mat-card>

</section>