<nav class="navbar">
    <span class="navbar-toogle" id="mobile">
        <mat-icon>menu</mat-icon>

    </span>

    <!--menu reponsivo mobile -->
    <span class="logo">
        <img src="../../../assets/img/logo3.png">
    </span>

    <!-- lista de caminhos que estarão no menu-->
    <ul id="desktop">
        <li>

            <a routerLink="/despesa">Relatório de Despesas</a>
        </li>
        <li>
            <a routerLink="/relatorio-receita"> Relatório de Receitas</a>
        </li>

    </ul>
</nav>